extends layout

block content
  link(rel="stylesheet" href="/stylesheets/donation-board.css")
  if user
    include partials/navbar-authentication-recipient
  else
    include partials/navbar-unauthenticated
  div(class="container")
    div(class="card-deck")
      each donation in donations
        div(class="card text-center")
          h5(class="card-header")=`${donation.food_item}`
          ul(class="list-group list-group-flush")
            li(class="list-group-item")=`Amount: ${donation.amount}`
            if donation.dietary_restrictions !== ""
              li(class="list-group-item")=`${donation.dietary_restrictions}`
            li(class="list-group-item")=`Donated by: ${donation.donator}`
            li(class="list-group-item")=`Meeting Point: ${donation.meeting_point}`
            li(class="list-group-item")=`Pickup Date: ${donation.pickup_date}`
            li(class="list-group-item")=`Expiry Date: ${donation.expiration_date}`
          div(class="card-footer")
            if user
              form(action="/donation-board" method="POST")
              input(type="hidden" name="donation_id" value=donation.id)
              button(type="submit" class="btn btn-primary") Request
            else
              button(type="submit" class="btn btn-secondary" disabled) Login to Request
