extends layout

block content
  link(rel="stylesheet" href="/stylesheets/my-donations.css")
  include partials/navbar-authenticated-donor
  div(class="container")
    if donations.length !== 0
      h1 Your Requests:
    else
      h1 No Requests!
    div(class="card-deck")

      each donation in donations

        if !donation.hidden_donatee

          if donation.request_accepted

            if !donation.fulfilled_donatee

              div(class="card text-center")
                h5(class="card-header")=`${donation.food_item}`
                ul(class="list-group list-group-flush")
                  li(class="list-group-item")=`Amount: ${donation.amount}`
                  li(class="list-group-item")=`Donated by: ${donation.donator}`
                  if donation.dietary_restrictions !== ""
                    li(class="list-group-item")=`${donation.dietary_restrictions}`
                  li(class="list-group-item")=`Meeting Point: ${donation.meeting_point}`              
                  li(class="list-group-item")=`Pickup Date: ${donation.pickup_date}`
                  li(class="list-group-item")=`Expires: ${donation.expiration_date}`
                div(class="card-footer")
                  form(action="/my-requests/fulfill" method="POST")
                    input(type="hidden" name="donation_id" value=donation.id)
                    button(type="submit" class="btn btn-success") Request Accepted - Fulfill
                  form(action="/my-requests/cancel" method="POST")
                    input(type="hidden" name="donation_id" value=donation.id)
                    button(type="submit" class="btn btn-danger" disabled) Cancel Request

            else if donation.fulfilled_donatee

              if !donation.fulfilled_donator

                div(class="card text-center")
                  h5(class="card-header")=`${donation.food_item}`
                  ul(class="list-group list-group-flush")
                    li(class="list-group-item")=`Amount: ${donation.amount}`
                    li(class="list-group-item")=`Donated by: ${donation.donator}`
                    if donation.dietary_restrictions !== ""
                      li(class="list-group-item")=`${donation.dietary_restrictions}`
                    li(class="list-group-item")=`Meeting Point: ${donation.meeting_point}`
                    li(class="list-group-item")=`Pickup Date: ${donation.pickup_date}`
                    li(class="list-group-item")=`Expires: ${donation.expiration_date}`
                  div(class="card-footer")
                    form
                      input(type="hidden")
                      button(type="submit" class="btn btn-info" disabled) Waiting for donor to fulfill...
                    form
                      input(type="hidden")
                      button(type="submit" class="btn btn-danger" disabled) Cancel Request

              else if donation.fulfilled_donator

                div(class="card text-center")
                  h5(class="card-header")=`${donation.food_item}`
                  ul(class="list-group list-group-flush")
                    li(class="list-group-item")=`Amount: ${donation.amount}`
                    li(class="list-group-item")=`Donated by: ${donation.donator}`
                    if donation.dietary_restrictions !== ""
                      li(class="list-group-item")=`${donation.dietary_restrictions}`
                    li(class="list-group-item")=`Meeting Point: ${donation.meeting_point}`
                    li(class="list-group-item")=`Pickup Date: ${donation.pickup_date}`
                    li(class="list-group-item")=`Expires: ${donation.expiration_date}`
                  div(class="card-footer")
                    form
                      input(type="hidden")
                      button(type="submit" class="btn btn-success" disabled) Request fulfilled!
                    form(action=("/my-requests/hide") method="POST")
                      input(type="hidden" name="donation_id" value=donation.id)
                      button(type="submit" class="btn btn-danger") Hide Donation

          else if !donation.requested_accepted

            div(class="card text-center")
              h5(class="card-header")=`${donation.food_item}`
              ul(class="list-group list-group-flush")
                li(class="list-group-item")=`Amount: ${donation.amount}`
                li(class="list-group-item")=`Donated by: ${donation.donator}`
                if donation.dietary_restrictions !== ""
                  li(class="list-group-item")=`${donation.dietary_restrictions}`
                li(class="list-group-item")=`Meeting Point: ${donation.meeting_point}`
                li(class="list-group-item")=`Pickup Date: ${donation.pickup_date}`
                li(class="list-group-item")=`Expires: ${donation.expiration_date}`
              div(class="card-footer")
                form
                  input(type="hidden")
                  button(type="submit" class="btn btn-secondary" disabled) Request Pending
                form(action="/my-requests/cancel" method="POST")
                  input(type="hidden" name="donation_id" value=donation.id)
                  button(type="submit" class="btn btn-danger") Cancel Request